@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>CIT 230 - Presentation Topics</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to CIT 230 - Presentation Topic Selection</h2>
        <p>Web Frontend Development is about the core web technologies of HTML, CSS, and JavaScript. This application provides an interface and registration system for students to sign up for their topic to present as part of the assessments in the course.
        </p>
    </div>
</div>